@layer base {
  p,
  span {
    @apply text-zinc-800;
  }
  *:focus {
    outline: none;
  }
  body,
  html,
  #__next {
    height: 100%;
  }
  .head-style {
    @apply font-semibold;
  }
  h1,
  .h1 {
    @apply head-style text-5xl;
  }
  h2,
  .h2 {
    @apply head-style text-2xl;
  }
  h3,
  .h3 {
    @apply head-style text-xl;
  }
  h4,
  .h4 {
    @apply head-style text-lg;
  }
  h5,
  .h5 {
    @apply head-style;
  }
  *:not(a) > h2 {
    @apply text-teal-600;
  }
  a {
    @apply text-teal-600 hover:text-teal-500 active:text-teal-400 focus:text-teal-400;
  }
  .markdown ul {
    list-style-type: disc;
  }
  .markdown li {
    margin-left: 2rem;
  }
  .markdown li:last-child {
    margin-bottom: 1rem;
  }
}
@tailwind base;
@layer components {
  mjx-container svg {
    display: inline;
  }
  .skeleton {
    @apply bg-gray-100 rounded-full;
    animation-name: skeleframe;
    animation-duration: 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  @keyframes skeleframe {
    from {
      @apply bg-gray-100;
    }
    to {
      @apply bg-gray-200;
    }
  }
}
@tailwind components;
@layer utilites {
  .font-thin {
    font-variation-settings: "wght" 100;
  }
  .font-extralight {
    font-variation-settings: "wght" 200;
  }
  .font-light {
    font-variation-settings: "wght" 300;
  }
  .font-normal {
    font-variation-settings: "wght" 400;
  }
  .font-medium {
    font-variation-settings: "wght" 500;
  }
  .font-semibold {
    font-variation-settings: "wght" 600;
  }
  .font-bold {
    font-variation-settings: "wght" 700;
  }
  .font-extrabold {
    font-variation-settings: "wght" 800;
  }
  .font-black {
    font-variation-settings: "wght" 900;
  }
  .w-adaptive {
    width: 1024px;
  }
  .w-adaptive-2 {
    width: 640px;
  }
  @media (max-width: 1024px) {
    .w-adaptive {
      width: 100%;
    }
    .w-adaptive-2 {
      width: 100%;
    }
  }
}
@tailwind utilities;

.cm-scroller {
  height: 16rem !important;
}
