@layer base {
  *:focus {
    outline: none;
  }
  body,
  html,
  #__next {
    height: 100%;
  }
  .head-style {
    @apply text-blue-600 font-semibold;
  }
  h1,
  .h1 {
    @apply head-style text-5xl;
  }
  h2,
  .h2 {
    @apply head-style text-3xl;
  }
  h3,
  .h3 {
    @apply head-style text-xl;
  }
  h4,
  .h4 {
    @apply head-style text-lg;
  }
  h5,
  .h5 {
    @apply head-style;
  }
}
@tailwind base;
@layer components {
}
@tailwind components;
@layer utilites {
  .w-adaptive {
    width: 1024px;
  }
  @media (max-width: 1024px) {
    .w-adaptive {
      width: 100%;
    }
  }
}
@tailwind utilities;
