@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.custom-shape-divider-top-1652322951 {
  top: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  /* overflow-y: visible; */
  line-height: 0;
}

.custom-shape-divider-top-1652322951 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1652322951 .shape-fill {
  fill: #e5e7eb;
}